ProjectPSR/ProjectServiceClient/Connected Services/DiffFilesInterfaceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calculateLevenhstein">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateLevenhsteinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculateLevenhsteinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="percentCalculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distanceLevenhstein" type="xs:double" />
        <xs:element minOccurs="0" name="firstTextLenght" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="percentCalculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="percentCalculateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>