ProjectPSR/ProjectServiceClient/Connected Services/DiffFilesInterfaceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="compareFileLetterByLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pattern" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compareFileLetterByLetterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="compareFileLetterByLetterResult" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compareFileWordByWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pattern" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compareFileWordByWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="compareFileWordByWordResult" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compareFileLetterByLetterAndCalculateProbability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pattern" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compareFileLetterByLetterAndCalculateProbabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compareFileLetterByLetterAndCalculateProbabilityResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="percentCalculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="howManyTheSameLetters" type="xs:double" />
        <xs:element minOccurs="0" name="firstFileLength" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="percentCalculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="percentCalculateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTheSameElementsPosSecondFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTheSameElementsPosSecondFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getTheSameElementsPosSecondFileResult" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearTheSameElementsPosSecondFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clearTheSameElementsPosSecondFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countTheSameLetters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="theSameElements" nillable="true" type="q4:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countTheSameLettersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countTheSameLettersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>