ProjectPSR/ProjectServiceClient/Connected Services/DiffFilesInterfaceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DiffFilesInterfaceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDiffFilesInterface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IDiffFilesInterface1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiffFilesInterface_compareFileLetterByLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:compareFileLetterByLetter" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_compareFileLetterByLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:compareFileLetterByLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_compareFileWordByWord_InputMessage">
    <wsdl:part name="parameters" element="tns:compareFileWordByWord" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_compareFileWordByWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:compareFileWordByWordResponse" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_compareFileLetterByLetterAndCalculateProbability_InputMessage">
    <wsdl:part name="parameters" element="tns:compareFileLetterByLetterAndCalculateProbability" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_compareFileLetterByLetterAndCalculateProbability_OutputMessage">
    <wsdl:part name="parameters" element="tns:compareFileLetterByLetterAndCalculateProbabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_percentCalculate_InputMessage">
    <wsdl:part name="parameters" element="tns:percentCalculate" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_percentCalculate_OutputMessage">
    <wsdl:part name="parameters" element="tns:percentCalculateResponse" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_getTheSameElementsPosSecondFile_InputMessage">
    <wsdl:part name="parameters" element="tns:getTheSameElementsPosSecondFile" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_getTheSameElementsPosSecondFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTheSameElementsPosSecondFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_clearTheSameElementsPosSecondFile_InputMessage">
    <wsdl:part name="parameters" element="tns:clearTheSameElementsPosSecondFile" />
  </wsdl:message>
  <wsdl:message name="IDiffFilesInterface_clearTheSameElementsPosSecondFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearTheSameElementsPosSecondFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiffFilesInterface">
    <wsdl:operation name="compareFileLetterByLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetter" message="tns:IDiffFilesInterface_compareFileLetterByLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetterResponse" message="tns:IDiffFilesInterface_compareFileLetterByLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="compareFileWordByWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiffFilesInterface/compareFileWordByWord" message="tns:IDiffFilesInterface_compareFileWordByWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiffFilesInterface/compareFileWordByWordResponse" message="tns:IDiffFilesInterface_compareFileWordByWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="compareFileLetterByLetterAndCalculateProbability">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetterAndCalculateProbability" message="tns:IDiffFilesInterface_compareFileLetterByLetterAndCalculateProbability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetterAndCalculateProbabilityResponse" message="tns:IDiffFilesInterface_compareFileLetterByLetterAndCalculateProbability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="percentCalculate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiffFilesInterface/percentCalculate" message="tns:IDiffFilesInterface_percentCalculate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiffFilesInterface/percentCalculateResponse" message="tns:IDiffFilesInterface_percentCalculate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTheSameElementsPosSecondFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiffFilesInterface/getTheSameElementsPosSecondFile" message="tns:IDiffFilesInterface_getTheSameElementsPosSecondFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiffFilesInterface/getTheSameElementsPosSecondFileResponse" message="tns:IDiffFilesInterface_getTheSameElementsPosSecondFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clearTheSameElementsPosSecondFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiffFilesInterface/clearTheSameElementsPosSecondFile" message="tns:IDiffFilesInterface_clearTheSameElementsPosSecondFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiffFilesInterface/clearTheSameElementsPosSecondFileResponse" message="tns:IDiffFilesInterface_clearTheSameElementsPosSecondFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDiffFilesInterface" type="tns:IDiffFilesInterface">
    <wsp:PolicyReference URI="#NetTcpBinding_IDiffFilesInterface_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="compareFileLetterByLetter">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compareFileWordByWord">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/compareFileWordByWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compareFileLetterByLetterAndCalculateProbability">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetterAndCalculateProbability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="percentCalculate">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/percentCalculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTheSameElementsPosSecondFile">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/getTheSameElementsPosSecondFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearTheSameElementsPosSecondFile">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/clearTheSameElementsPosSecondFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDiffFilesInterface1" type="tns:IDiffFilesInterface">
    <wsp:PolicyReference URI="#NetTcpBinding_IDiffFilesInterface1_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="compareFileLetterByLetter">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compareFileWordByWord">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/compareFileWordByWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compareFileLetterByLetterAndCalculateProbability">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/compareFileLetterByLetterAndCalculateProbability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="percentCalculate">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/percentCalculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTheSameElementsPosSecondFile">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/getTheSameElementsPosSecondFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearTheSameElementsPosSecondFile">
      <soap12:operation soapAction="http://tempuri.org/IDiffFilesInterface/clearTheSameElementsPosSecondFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiffFilesInterfaceImpl">
    <wsdl:port name="NetTcpBinding_IDiffFilesInterface" binding="tns:NetTcpBinding_IDiffFilesInterface">
      <soap12:address location="net.tcp://192.168.8.100:8080/DiffFilesInterfaceImpl" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.8.100:8080/DiffFilesInterfaceImpl</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-5AHI0I2\piotr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDiffFilesInterface1" binding="tns:NetTcpBinding_IDiffFilesInterface1">
      <soap12:address location="net.tcp://192.168.8.100:8080/DiffFilesInterfaceImpl/DiffFilesService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.8.100:8080/DiffFilesInterfaceImpl/DiffFilesService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>